html,
body,
#root,
.App {
  height: 100%;
  overflow: hidden;
  color: #c4c9cf;
}

.bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;
}

.hidden {
  display: none;
}

.loading {
  height: 100%;
  width: 100%;
  background-color: #2a2d32;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.home {
  height: 100%;
  width: 100%;
  background-color: #2a2d32;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link {
  font-size: 2rem;
  text-decoration: underline;
}

.button {
  margin-top: 2rem;
  border: none;
  box-shadow: -18px -18px 20px #30343a, 18px 18px 20px #24262b;
  border-radius: 20px;
  padding: 1rem 2rem;
  background-color: #2a2d32;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
  color: #c4c9cf;
}
